*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* background-color: aquamarine; */
}

.con{
    border: 2px solid black;
    height: 80vh;
    display: flex;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.one{
    height: inherit;
    width: 40%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.two{
    height: inherit;
    width: 40%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


